<html>
<head>
	<title>Music Categories</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<section>
		<h1>Music Categories</h1>
		<article class="type-news">
			<div class="left-row">
				<img src="images/img1.png" title="concert" alt="concert" width="126" height="86">
			</div>
			<div class="right-row">
				<p class="special-content">Even more website all about website templates on <strong>Just Web Templates.</strong></p>
				<input type="image" src="images/button.png" alt="Button Listen" width="77" height="21">
				<input type="image" src="images/button.png" alt="Button Add" width="77" height="21">
				<p class="action">
					<a href="#">Listen</a>
					<a href="#">Add</a>
				</p>
			</div>
		</article>
		<article class="type-news">
			<div class="left-row">
				<img src="images/img2.png" title="musik is fun" alt="musik is fun" width="126" height="86">
			</div>
			<div class="right-row">
				<p class="special-content">If you`re looking for beautiful and professionally made templates you can find them at <strong>Template Beauty.</strong></p>
				<input type="image" src="images/button.png" alt="Button Listen" width="77" height="21">
				<input type="image" src="images/button.png" alt="Button Add" width="77" height="21">
				<p class="action">
					<a href="#">Listen</a>
					<a href="#">Add</a>
				</p>
			</div>
		</article>
		<article class="type-news">
			<div class="left-row">
				<img src="images/img3.png" title="celebrate" alt="celebrate" width="126" height="86">
			</div>
			<div class="right-row">
				<p class="special-content">You can remove any link to our websites from this template you`re free to use the template without linking back to us.</p>
				<input type="image" src="images/button.png" alt="Button Listen" width="77" height="21">
				<input type="image" src="images/button.png" alt="Button Add" width="77" height="21">
				<p class="action">
					<a href="#">Listen</a>
					<a href="#">Add</a>
				</p>
			</div>
		</article>
	</section>
</body>
</html>